@{
    ViewData["Title"] = "Index";
}

@if(TempData["Msg"] != null)
{
    <p class="alert alert-success">@TempData["Msg"]</p>
}

<h1>Index Page</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Isbn</th>
        <th>Why read it?</th>
        <th>Author_id</th>
        <th>Details</th>
        <th>Edit Details</th>
        <th>Delete</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Isbn</td>
            <td>@item.Description</td>
            <td>@item.Author.Name</td>
            <td><a href="/Book/Details/@item.Id">Details</a></td>
            <td><a href="/Book/Edit/@item.Id">Edit</a></td>

            <td>
                <form method="post" action="/Book/Delete">
                    <input type="hidden" name="id" value="@item.Id"/>
                    <button class="btn btn-danger" onclick="return confirm('Are you sure?')">
                        Delete
                    </button>
                </form>
            </td>

        </tr>
    }

</table>




